<h1>Figure Info</h1>
<h2>Name: <%=@figure.name%></h2>

<h2>Landmarks</h2>
<%@figure.landmarks.each do |landmark|%>
<a href="../landmarks/<%=landmark.id%>"><%=landmark.name%></a>
<% end %>

<br></br>

<h2>Titles</h2>
<%@figure.titles.each do |title|%>
<p><%=title.name%></p>
<% end %>

<br></br>
<a href="/figures">Back to All Figures</a>
